<li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:extra' %}">Games</a>
  </li>